// Config

$color-bg-nav: #dbbe6e;
$color-bg-braun: #7b5315;
$color-bg-pergament: #e1c67b;
$color-indes-blau: #0f2882;

$font-text: 'Roboto Condensed', sans-serif;
$font-title: 'Libre Baskerville', serif;
