// General

body, html {
//	width: 10vw;
}

body, html, p, li {
	font-family: $font-text;
	text-align: justify;
    text-justify: auto;
}

a {
	color: $color-bg-braun;
	&:hover {
		color: #000;
	}
}

h1, h2, h3, h4, h5, h6 {
	font-family: $font-title;
	color: $color-indes-blau;
}

hr {
	margin: 2em 0em 2em 0em;
	border: 1px solid $color-bg-pergament;
}

img {
	width: 98vw;
	@media (min-width: 981px) {
		width: 800px;
	}
}