// Layout

div.layout {
	display: flex;
	flex-direction: column;
}

nav {
	order: -1;
	display: none;
}

@media (min-width: 981px) {
	div.layout {
		flex-direction: row;
		flex: 1;
		main {
			flex: 0 0 800px;
		}
		nav, aside {
			display: block;
			flex: 1 1 auto;
		}
	}
}