/************************************************************\
 *  INDES Graz Jahresrückblick                              *
\************************************************************/
.blog--no-margins {
    .panel-has-style,
    .panel-has-style .so-panel {
        margin-bottom: 0px !important;
    }
}

.blog__slider-and-text {
    .panel-grid-cell {
        position: relative;
    }
    .panel-first-child {
        margin-left: -20px;
        margin-right: -20px;
    }
    .panel-last-child {
        margin-left: -10px;
        margin-right: -20px;
        background-color: $color-indes-blau;
        color: #ffffff;
        padding: 20px;
        p {
            margin: 0px;
            > span {
                display: inline-block;
                text-align: justify;
            }
        }
        @media screen and (min-width: 992px) {
            position: absolute;
            right: -20px;
            bottom: -20px;
            z-index: 999;
            width: 50%;
            margin: 0px;
        }
    }
}
.blog__slider-and-text--left {
    @extend .blog__slider-and-text;
    .panel-last-child {
        @media screen and (min-width: 992px) {
            left: -20px;
        }
    }
}
