//	Konfiguration und Variablen

// Metadaten
$_metadata: (
  theme-name:               "INDES - Frontier child"
, theme-uri:                "https://gitlab.com/hubertJ/indes-theme"
, theme-author:             "Hubert Jaitner, Design by Ingulf Kohlweiss"
, theme-author-uri:         "http://www.indes.at/fechtlehrer/graz/jaitner/"
, theme-description:        "INDES branded Frontier Child Theme"
, theme-version:            "1.3.50"
, theme-license:            "GPLv3"
, theme-license-uri:        "http://www.gnu.org/licenses/gpl.txt"
, theme-tags:               INDES
, theme-text-domain:        "frontier-child"
, theme-text-domain-path:   ""
, theme-template:			"frontier"
, gitlab-theme-uri:			"https://gitlab.com/hubertJ/indes-theme"
, gitlab-branch:			"master"
);

//	Farben
$color-bg-nav: #dbbe6e;
$color-bg-braun: #7b5315;
$color-bg-pergament: #e1c67b;
$color-indes-blau: #0f2882;
// $color-bg-pergament: red;

//	Fonts
$font-text: 'Roboto', sans-serif;
$font-text-condensed: 'Roboto Condensed', sans-serif;
$font-text-mobile: Cambria, serif;
$font-title: 'Libre Baskerville', serif;

$font-size-global: 100%;
$font-size-small: 0.8rem;
$font-lineheigth: 1.5;

@mixin font-style {
	font-family: $font-text;
	font-size: 15px;
	font-size: 0.938rem; 
	line-height: $font-lineheigth; 
}

//	PageBuilder Variablen
//	Responsive Sprünge bei: 
$break-small: 464px;
$break-large: 781px;
$break-desktop: 1025px;