.privacy-checkbox .checkbox-wrap {
    flex-flow: row nowrap !important;

    .nf-field-label {
        width: 0px;
    }
    .nf-field-element {
        width: min-content;
    }
    .nf-field-description {
        padding-left: 10px;
    }
}