blockquote {
	font-family: $font-text-condensed;
	font-size: 0.9rem;	
	font-style: italic;
	line-height: 1.2rem;
	border-left: 2px solid $color-bg-braun;
	background: rgba($color-bg-braun, 0.2);
	margin: 0px;
	padding: 4px 8px 4px 8px;
	p {
		margin: 0px !important;
	}
}

.progress_bar_wrapper {
	width: 700px;
	max-width: 80%;
	margin: auto;
	.progress_bar {
		position: relative;
		z-index: 4;
		text-align: center;
		width: 100%;
		max-width: 100%;
	}
	.progress_graphic {
		position: relative;
		width: 100%;	
		border: 1px solid $color-indes-blau;
		padding: 1px;
		margin-top: 0px;
		height: 12px;
		width: 100%;
		max-width: 100%;
		div {
			position: relative;
			z-index: 3;
			height: 8px;
			background-color: rgba($color-indes-blau, 0.8);
		}
	}
}

/* Ninja Enhancements */
.nf-before-form-content {
	font-size: 0.85rem;
	padding-bottom: 10px;
}
.ninja-forms-field:not(hr) {
	background: rgba(255,255,255,0.3);
	color: #000;
	border: 1px solid $color-bg-braun;
	padding: 4px;
}
hr.ninja-forms-field {
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(0,0,0,0), $color-bg-braun, rgba(0,0,0,0));
}
.fa-info-circle:before {
	content: "";
}

/* Spoiler Box */
input.spoiler_input {
	display: none;
}
input.spoiler_input + label {
	display: block;
	padding: 2px 6px;
	cursor: pointer;
	transition: all .6s;
	font-size: $font-size-small;
	color: $color-bg-braun;
	border-bottom: 1px dotted $color-bg-braun;
	&:before {
		content: "+ ";
	}
}
input.spoiler_input:checked + label {
	border-bottom: 1px solid $color-bg-braun;		
	&:before {
		content: "- ";
	}
}
input.spoiler_input ~ .spoiler {
	height: 10px;
	overflow: hidden;
	opacity: 0;
	transition: all .6s;
}
input.spoiler_input:checked + label + .spoiler{
	height: auto;
	opacity: 1;
	padding: 10px;
}