//	headroom.js
@include media-below($break-desktop) {
	header.animated {
		background: $color-indes-blau;
	}
	.headroom--top #nav-main {
		position: relative !important;
	}
	.slideDown #nav-main {
		//	Header blendet beim nach unten Sliden langsam ein, position:fixed ist zugleich auch die Endposition
		animation: slideDown 1s ease-out;
		position: fixed;
	}
	.slideUp #nav-main {
		//	Header slidet beim nach oben Sliden (=nach unten Scrollen) langsam nach oben aus und bleibt dort, daher animation-fill-mode
		animation: slideUp 1s ease-out;
		animation-fill-mode: forwards;
		position: fixed;
	}
	@keyframes slideDown {
	    0%   {
	    	transform: translateY(-100%);
	    }
    	50% {
    		transform: translateY(0%);
    	}
	}
	@keyframes slideUp {
	    0%   {
	    	transform: translateY(0%);
	    }
    	100% {
    		transform: translateY(-100%);
    	}
	}
}

@mixin SlideNav {
	position: fixed;
	width: 960px;
	//	Eigentlich sollte die Höhe 24px betragen.... wird dann aber als 18px dargestellt
	height: 28px;
	padding-bottom: 6px;
	background: rgba($color-bg-braun, 0.9);
	box-shadow: 0px 5px 17px 0px rgba(0,0,0,0.56);
	.nav-main a {
		text-shadow: 0px 0.5px 1px $color-bg-pergament;
		&:hover {
			text-shadow: none;
		}
	}
}

@include media-above($break-desktop) {
	.headroom--top #navigation #nav-main {
			position: relative !important;
			box-shadow: none !important;
			border-bottom: none !important;
			background: $color-bg-nav !important;
			height: 24px !important;
			transition: background 0.5s ease-in;
	}
	.slideDown #navigation #nav-main {
		//	Header blendet beim nach unten Sliden langsam ein, position:fixed ist zugleich auch die Endposition
		@include SlideNav;
		animation: slideDown 1s ease-out;
	}
	.slideUp #navigation #nav-main {
		//	Header slidet beim nach oben Sliden (=nach unten Scrollen) langsam nach oben aus und bleibt dort, daher animation-fill-mode
		@include SlideNav;
		animation: slideUp 1s ease-out;
		animation-fill-mode: forwards;
		//	AKTUELLES PROBLEM: funktioniert nur beim ersten Mal nach Laden der Seite, nach etwas Rumscrollen nicht mehr.
		transition: background 0.2s ease-in;
	}
	@keyframes slideDown {
	    0%   {
	    	transform: translateY(-100%);
	    }
		50% {
			transform: translateY(0%);
		}
	}
	@keyframes slideUp {
	    0%   {
	    	transform: translateY(0%);
	    }
		100% {
			transform: translateY(-100%);
		}
	}
}