@media (min-width: 1025px) {	
	// Hintergrundstreifen des Menüs
	.headerStreifenOcker {
		background: $color-bg-braun; 
		height:6px;
		position: absolute;
		bottom: 14px;
		left: 0px;
		right: 0px;
	}
	.headerStreifenSchwarz {
		background: #000; 
		height:14px;
		position: absolute;
		bottom: 0px;
		left: 0px;
		right: 0px;
	}
	#navigation {
		height: 44px;
		width:960px;
		background: $color-bg-braun;
		position: relative;
	}

	// Menü
	#nav-main {
		background: #dbbe6e none;
		width: 100%;
		border-bottom: 1px solid #000;
		padding-left: 0px;
		height: 24px;
		border: none;
		position: relative;
		box-shadow: none;
		font-weight: bold;
	}
	#nav-main * {
		transition: all 0.14s ease-out;
	}
	#nav-main ul, #nav-main li, #nav-top ul, #nav-top li {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	#nav-main .nav-main {
		position: relative;
		float: left;
		border: none;
		z-index: 300;
	}
	#nav-main .nav-main li {
		float: left;
		position: relative;
	}
	#nav-main .nav-main > li, #nav-main .nav-main > ul > .page_item {
		background: none;
		border: none;
	}
	#nav-main .nav-main > li > a, #nav-main .nav-main > ul > .page_item > a {
		min-width: 80px;
		text-align: center;
	}
	#nav-main .nav-main a {
		display: block;
		padding: 5px 10px;
		color: #000;
		font-family: $font-title;
		font-size: 0.85rem;
		letter-spacing: -0.04em;
		text-shadow: none;
		text-decoration: none;
	}
	#nav-main .nav-main a:hover {
		background: #7b5315;
		color: #FFF;
		text-shadow: none;
	}
	#nav-main .menu-item-has-children > a:after,
	#nav-main .page_item_has_children > a:after {
		font-family: "Genericons";
		content: "\f431";
		vertical-align: top;
		padding-left: 4px;
	}
	#nav-main .sub-menu, #nav-main .children {
		background: #dbbe6e;
		position: absolute;
		float: left;
		min-width: 180px;
		border: 1px solid #000;
		box-shadow: 0 1px 4px #000;
		z-index: 990;
		display: none;
	}
	#nav-main .sub-menu li, #nav-main .children li {
		border-top: 1px solid #3B3B3B;
		border-bottom: 1px solid #000; 
	}
	#nav-main .sub-menu li:first-child, #nav-main .children li:first-child {
		border-top: none;
	}
	#nav-main .sub-menu li:last-child, #nav-main .children li:last-child {
		border-bottom: none;
	}
	#nav-main .sub-menu a, #nav-main .children a {
		float: left;
		width: 178px;
		padding: 10px 14px;
		font-size: 0.85rem;
	}
	#nav-main .sub-menu .sub-menu, #nav-main .children .children {
		top: -1px;
	}
	#nav-main li:hover > ul {
		display: inline;
	}
	#nav-main .drop-toggle {
		display: none;
	}
	#nav-main .genericon-menu {
		color: #FFF;
		font-size: 30px;
		height: auto;
		padding: 5px 10px;
		width: auto;
	}
	#nav-top {
		float: right;
	}
	#nav-top .nav-top, #nav-top .nav-top li {
		float: left;
	}
	#nav-top .nav-top a {
		display: block;
		margin-top: 2px;
		padding: 0 18px;
		color: #FFF;
		font-family: $font-title;
		font-size: 14px;
	}
	#bottom-bar {
		max-width: 960px;
	}
}