//	PageBuilder Widget-Styles > Attribute > Widget-Klassen
.text_titel {
	margin-bottom: -40px;
}
.text_untertitel {
	background: #000;
	color: #fff;
	padding: 0px 0px 0px 30px;
	margin-left: -10px;
	margin-bottom: -30px;
	font-family: $font-title;
	font-size: 1em;
	@include media-below ($break-small) {
		max-width: 100%; 
	}
	@include media-between($break-small, $break-large) {
		max-width: 90%; 
	}
	@include media-between($break-large, $break-desktop) {
		max-width: 50%; 
	}
	@include media-above($break-desktop) {
		margin-left: -20px;
		// max-width: 40%;
		max-width: calc( 960px * .4 );
	}
}
#text_titelmiticon {
	// Notwendig online
	margin-bottom: -30px !important;
	// Notwendig lokal. Warum? Keine Ahnung
	// margin-bottom: 0px !important;
	display: flex;
	flex: 1 1 auto;
	flex-direction: row;
	// border: 1px solid red;
	.text_titel {
		order: 1;
	}
	@include media-below($break-small) {
		// margin-bottom: 20px !important;
		margin-bottom: -20px !important;
		.text_untertitel {
			position: absolute;
			margin-left: -14px;
			padding: 0px 20px 0px 30px;
			//	Bei position:absolute greifen die margin Angaben von .entry-content p, diese müssen überschrieben werden
			p {
				margin: 0px;
			}
		}	
	}
	@include media-above($break-large) {
		display: flex;
		// online
		margin-bottom: -20px !important;
		// lokal
		// margin-bottom: 10px !important;
	}
	div[class="panel-grid-cell"][id$="0"] {
		// Breite der divs der ersten Reihe maximieren
		width: 100%;
		max-width: 100%;
	}
	div[class="panel-grid-cell"][id$="1"] {
		// Breite der divs der zweiten Reihe auf die Breite des Icons beschränken
		width: 120px;
	}
	.text_standorticon {
		order: 2;
		width: 120px !important;
		height: 60px;
		// margin-top: -73px;
		float: right;
		margin-right: -10px;
		// border: 1px solid black;
		p {
			margin: 0px 0px 0px 0px !important;
		}
		@include media-above($break-small) {
			// margin-top: -73px;
			margin-top: 0px;
			margin-right: 0px;
		}
		@include media-above($break-large) {
	//		margin-top: 0px;
	//		margin-right: 0px;
		}
	}
}
.text_untertitel_innen {
	background: #000;
	color: #fff;
	padding: 0px 0px 0px 10px;
	margin-left: -10px;
	margin-bottom: -30px;
	font-family: $font-title;
	font-size: 1em;
	max-width: 80%; 
}
.text_header {
	margin: -14px -20px -10px -20px;
	border-bottom: 5px solid #fff;
	box-shadow: 0px 18px 30px 0px rgba(0,0,0,0.40);
}
//	Maximale Breite für Bilder erhöhen, die mittels text_header eingebunden werden, responsive Anpassung
.sow-slider-base ul.sow-slider-images li.sow-slider-image .sow-slider-image-container .sow-slider-image-wrapper {
    max-width: 1024px !important;
}
.text_header_seminar {
	margin: -24px -20px -10px -20px;
	border-bottom: 5px solid #fff;
	box-shadow: 0px 18px 30px 0px rgba(0,0,0,0.40);
}
.text_blauerstreifen {
	border-top: 5px solid #fff;
	border-bottom: 5px solid #000;
	color: #fff;
	box-shadow: 0px 18px 30px 0px rgba(0,0,0,0.40);
	background: $color-indes-blau;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
//	margin-left: -10px;
//	margin-right: -5px;
	margin-left: -20px;
	margin-right: -20px;
	.widget-title, a {
		color: #fff;
	}
	a:hover {
		color: rgba(255, 255, 255, 0.6);	
	}
}

@include media-above($break-desktop) {
	//	PageBuilder Widgets, Anpassungen an Desktop Ansicht
	.text_untertitel_innen {
		max-width: 40%; 
	}
	.text_zweispaltig {
		column-count: 2;
		column-gap: 30px;
		column-rule: 1px solid rgba(123, 83, 21, 0.3);
	}
	article[itemprop="blogPost"] .entry-byline {
		margin-top: 20px;
		border-top: 1px solid rgba(123, 83, 21, 0.3);
	}
	.entry-content, .entry-title, .entry-byline, .entry-footer {
		margin-left: 10px;
		margin-right: 10px;
	}
	//	Videos auf Höhe 361px bringen
	.text_header .sow-slider-base ul.sow-slider-images li.sow-slider-image video.sow-full-element {
	    height: 361px;
	}
}

.text_produktkommentar {
	margin-top: -40px;
	h3 {
		font-size: 0.8rem;
		letter-spacing: 0em;
		float: left;
	}
	[class^=togglespoiler] {
		float: left;
		cursor: pointer;
		font-size: 0.8rem;
		padding-bottom: 10px;
		width: 100%;
		text-align: center;
		img {
			width: 12px;
		}
	}
	[class^=spoiler] {
		margin-top: 20px;
		clear: both;
		display: none;
	}

}

.text_leitfaden {
	border-bottom: 1px solid rgba($color-bg-braun, 0.3);
}

.text_table {
	overflow-x: auto;
}


#css_titelmiticon {
	max-width: 100%;
	display: flex;
	flex: 1 1 auto;
	flex-flow: row nowrap;
	justify-content: space-between;
}
.css_titelblock {
	flex: 2 1 auto;
}
.css_titel {
	margin-bottom: 0px;
}
.css_untertitel {
	background: #000;
    color: #fff;
    padding: 0 0 0 30px;
    margin-left: -20px;
    margin-bottom: -30px;
    font-family: $font-title;
    font-size: 1em;
    @include media-below ($break-small) {
		max-width: 100%; 
	}
	@include media-between($break-small, $break-large) {
		max-width: 90%; 
	}
	@include media-between($break-large, $break-desktop) {
		max-width: 50%; 
	}
	@include media-above($break-desktop) {
		margin-left: -20px;
		max-width: 40%;
	}
}
.css_standorticon {
	flex: 0 0 120px;
}

.img_trainerabstract {
	border-bottom: 4px solid #000;
	border-right: 4px solid #000;
	border-top: 4px solid #000;
	@include media-below ($break-large) {
		border-left: 4px solid #000;
	}
}
.css_trainerabstract {
	.panel-grid-cell:first-child {
		width: 250px !important;
		@include media-above ($break-small) {
			margin-left: -20px;
		}
		@include media-below ($break-large) {
			width: 100% !important;
		}
		@include media-above ($break-desktop) {
			margin-right: 20px;
		}
		p {
			margin: 0 !important;
		}
	}
	.panel-grid-cell:last-child {
		@include media-between ($break-large, $break-desktop) {
			width: calc( 100% - 250px ) !important;
			.text_untertitel {
				margin-left: -21px !important;
			}
		}
	}
}
.css_trainerabstractblau {
	border-top: 5px solid #fff;
	border-bottom: 5px solid #000;
	color: #fff;
	box-shadow: 0px 18px 30px 0px rgba(0,0,0,0.40);
	background: $color-indes-blau;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: -20px;
	margin-right: -20px;
	.widget-title, a {
		color: #fff;
	}
	a:hover {
		color: rgba(255, 255, 255, 0.6);	
	}
	.panel-grid-cell:first-child {
		width: 250px !important;
		@include media-above ($break-small) {
			margin-left: -20px;
		}
		@include media-below ($break-large) {
			width: 100% !important;
		}
		@include media-above ($break-desktop) {
			margin-right: 20px;
		}
		p {
			margin: 0 !important;
		}
	}
	.panel-grid-cell:last-child {
		@include media-between ($break-large, $break-desktop) {
			width: calc( 100% - 250px ) !important;
			.text_untertitel {
				margin-left: -21px !important;
			}
		}
	}
}