.event-progressbar__container {
    position: relative;
    height: 30px;
    box-shadow: 0px 0px 0px 2px darken(#0f2882, 10);
    border-radius: 4px;
    width: 50%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.event-progressbar__bar {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: rgba(#0f2882, .4);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    color: black;
}


// Progress bar for course_submissions
.course-submission {
    list-style: none !important;
    display: flex;
    flex-flow: wrap row;
    align-items: center;
    &__data {
        flex: 0 1 auto;
        order: 1;
        display: flex;
        flex-flow: nowrap row;
        margin-right: 8px;
        &__desc {
            text-align: left;
            white-space: nowrap;
            padding-right: 4px;
        }
        &__numbers {
            width: 60px;
            text-align: right;
            white-space: nowrap;
        }
    }   
    &__bar {
        order: 2 !important;
        position: relative;
        height: 6px;
        width: 60px;
        background-color: rgba(#0f2882, .2);
        box-shadow: 0px 0px 0px 1px darken(#0f2882, 10);
        padding-right: 12px;
        &__inner {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            background-color: rgba(#0f2882, .8);
        }
    }
}

.subs_max_reached {
    color: darkred;
    .course-submission {
        &__bar {
            background-color: rgba(darkred, .2);
            box-shadow: 0px 0px 0px 1px darken(darkred, 10);
            &__inner {
                background-color: rgba(darkred, .8);
            }
        }
    }
}

.course_max_reached {
    input, label {
        pointer-events: none;
        opacity: 0.5;
    }
}