// responsive.css von frontier überschreiben
#container {
	max-width: 100%;
	font-family: $font-text;
	font-size: $font-size-global; 
}

@media screen and (max-width:840px){
	#main #content {display: block;}

	#container #main #content,
	#container #main .sidebar {
		width: 100%;
		max-width: 100%;
	}
}


@media screen and (max-width:1024px){
	header {
		max-height: 44px;
	}
	#header-logo {
		margin: 0;
		text-align: center;
		width: 100%;
	}

	#header-logo > a {
		float: left;
		line-height: 0;
		width: 100%;
	}

	#header-logo img {
		float: none;
	}

	.widget-header {
		float: none;
		text-align: center;
		width: 100%;
	}

	.widget-footer {
		display: block;
		margin: 0 0 10px;
		width: 100% !important;
	}

	#nav-top {
		display: block;
		float: none;
		clear: both;
	}

	#nav-top .nav-top {
		float: none;
	}

	#nav-main {
		padding-left: 0;
	}

	#nav-main .nav-main {
		float: none;
		border: none !important;
	}

	#nav-main .nav-main > li, #nav-main .nav-main > ul > li {
		clear: both;
		float: none;
		border-bottom: 1px solid rgba($color-bg-pergament, 0.1);
		border-left: none;
		border-right: none;
		text-align: left !important; 
		background: none;
		a {
			text-align: left !important;
		}
	}

	#nav-main .nav-main > li:last-child, #nav-main .nav-main > ul > li:last-child {border-bottom: none;}

	#nav-main .sub-menu, #nav-main .children, #nav-main .sub-menu li, #nav-main .children li {
		border: none;
		box-shadow: none;
	}

	#nav-main .sub-menu a {padding: 10px 20px;}
	#nav-main .sub-menu .sub-menu a {padding-left: 40px;}
	#nav-main .sub-menu .sub-menu .sub-menu a {padding-left: 60px;}
	#nav-main .sub-menu .sub-menu .sub-menu .sub-menu a {padding-left: 80px;}

	#nav-main .sub-menu .sub-menu, #nav-main .children .children {top: 0;}

	#nav-main li:hover > ul {display: none;}
	#nav-main .page_item:hover > ul {display: inline;}

	#nav-main .toggle-on > .sub-menu {
		display: block;
		position: relative;
		overflow: hidden;
	}

	#nav-main .toggle-on > .sub-menu,
	#nav-main .toggle-on > .sub-menu > li,
	#nav-main .toggle-on > .sub-menu > li a {
		width: 100%;
	}

	.rtl #nav-main {padding-right: 0;}
	.rtl #nav-main .nav-main,
	.rtl #nav-main .nav-main li {float: none;}

	.rtl #nav-main .sub-menu .sub-menu a {padding-left: 20px; padding-right: 40px;}
	.rtl #nav-main .sub-menu .sub-menu .sub-menu a {padding-left: 20px; padding-right: 60px;}
	.rtl #nav-main .sub-menu .sub-menu .sub-menu .sub-menu a {padding-left: 20px; padding-right: 80px;}

	#nav-main .drop-toggle {
		display: block;
		text-align: left;
	}

	#nav-main.drop .nav-main {
		// display: none;
	}

	// Das Menü ist während des Seitenaufrufs unsichtbar, die Animation wird also nicht sichtbar ausgeführt
	#nav-main ul {
		visibility: hidden;
	}

	#nav-main.loadComplete ul {
		visibility: visible;
	}

	#nav-main.drop .nav-main {
		display: block;
		background-color: $color-bg-braun;
		opacity: 0.96;
		width: 200px;
		margin: 4px 0px 0px 0px;
		animation: slideLeft 0.4s ease-out;
		animation-fill-mode: forwards;
		box-shadow: none;
		transition: box-shadow 0.4s;
		height: 100vh;
		@keyframes slideLeft {
		    0%   {
		    	transform: translateX(0%);
		    }
			100% {
				transform: translateX(-100%);
			}
		}
	}

	#nav-main.dropped .nav-main {
		background-color: $color-bg-braun;
		opacity: 0.96;
		display: block;
		margin: 4px 0px 0px 0px;
		width: 200px;
		-webkit-box-shadow: 0px 5px 17px 0px rgba(0,0,0,0.56);
		-moz-box-shadow: 0px 5px 17px 0px rgba(0,0,0,0.56);
		box-shadow: 0px 5px 17px 0px rgba(0,0,0,0.56);
		animation: slideRight 0.4s ease-out;
		animation-fill-mode: forwards;
		height: 100vh;
		@keyframes slideRight {
		    0%   {
		    	transform: translateX(-100%);
		    }
			100% {
				transform: translateX(0%);
			}
		}
		li {
			border-bottom: 1px solid rgba($color-bg-pergament, 0.1) !important;
		}
	}

	#nav-main.dropped .sub-menu {
		// display: block; 
		display: none;
		padding: 0 5px;
		position: relative;
	}

	#nav-main.dropped .nav-main li,
	#nav-main.dropped .nav-main a,
	#nav-main.dropped .nav-main .sub-menu {
		border: none;
		width: 100%;
	}

	#nav-main.dropped .nav-main li {
		background: none;
	}

	#nav-main.dropped .nav-main li a {
		text-align: inherit;
	}




	.nav-main .menu-item-has-children  {
		position: relative;
		.open-sub__wrapper {
			display: flex;
		}
		a.open-sub {
			&:after {
				font-family: "Genericons";
				content: "\f431";
				position: absolute;
				right: 5px;
				top: 50%;
				width: 20px;
				height: 15px;
				vertical-align: top;
				padding-left: 4px;
				color: white;
				transform: translateY(-50%) rotate(0deg);
				transition: transform .3s ease;
			}
			&:hover, &:active, &:visited {
				background-color: transparent !important;
			}
			&.open-sub--opened {
				&:after {
					transform: translateY(-50%) rotate(180deg);
				}
			}
		}
		> a:not(.open-sub):after {
			content: '' !important;
		}
	}

}


@media screen and (max-width:360px){
	.bjqs-heading, .bjqs-descript {display: none;}

	.entry-excerpt, .entry-thumbnail {
		clear: both;
		padding-right: 0;
	}
	.entry-thumbnail {margin-bottom: 4px;}

	.rtl .entry-thumbnail {padding-left: 0;}
}


@media screen and (max-width: 992px) {
	.hide992 {
		display: none;
	}
}

@media screen and (max-width: 1024px) {
	.hide1024 {
		display: none;
	}
}

.sub-menu--show {
	display: block !important;
}