// WooCommerce
#content[class*="woocommerce_content"] {
	padding: 20px;
	@include font-style;
}

.woocommerce_content {
	.page-title {
		display:none;
	}
}

div.images, ul.products {
	img {
		background: white;
		padding: 4px;
		border: 1px solid $color-bg-braun;
	}
}

ul.products {
	// border: 1px solid red;
	padding-left: 0px;
	display: flex;
	flex: 0 1 auto;
	flex-flow: row wrap;
	justify-content: space-between;
	li {
		text-align: center;
		margin-left: 0px;
		min-width: 260px;
		max-width: 260px;
	}
	*:last-child {
  		flex-grow: 1;
	}
}

div[itemscope] {
	.images {
		float: left;
	}
	.summary {
		float: left;
		width: calc( 100% - 400px );
		padding-left: 20px;
		display: flex;
		flex-flow: column nowrap;
		h1[itemprop="name"] {
			order: 1;
			color: #000;
		}
		div.product_meta {
			order: 2;
			background: black;
			margin: 4px 0px 4px -20px;
			padding: 2px 0px 2px 20px;
			max-width: 50%;
			color: #fff;
			font-size: 0.9rem;
			font-family: $font-title;
			a {
				color: #fff;
				&:hover {
					color: rgba(255, 255, 255, 0.6);
				}
			}
		}
		div[itemprop="description"] {
			order: 4;
		}
		div[itemprop="offers"] {
			order: 3;
			font-weight: bold;
			font-size: 1.2rem;
			color: #000;
		}
		table.variations {
			margin-left: 0px;
			select {
				// 
			}
		}
		form.cart {
			order: 5;
			margin-top: 20px;
			button {
				float: left;
				margin-left: 4px;
				background: rgba($color-bg-braun,0.3);
				color: #000;
				font-size: 0.9rem;
				border: 1px solid $color-bg-braun;
				border-radius: 2px;
				padding: 4px 6px 4px 6px;
				&:hover {
					background: $color-bg-braun;
					border: 1px solid $color-bg-braun;
					border-radius: 2px;
					color: #fff;
				}
			}
			input {
				float: left;
				max-width: 3vw;
				background: $color-bg-pergament;
				border: 1px solid $color-bg-braun;
				border-radius: 2px;
				padding: 4px;
				text-align: right;
				font-size: 0.9rem;
			}
		}
	}
	.woocommerce-tabs {
		margin-top: 20px;
		float: left;
		width: 100%;
		ul {
			padding-left: 0px;

			li {
				float: left;
				padding: 4px 6px 4px 6px;
				margin: 0px 2px -1px 0px;
				border: 1px solid $color-bg-braun;
				border-bottom: none;
				border-radius: 4px 4px 0px 0px;
				background: rgba(204, 175, 102, 0.4);
				position: relative;
				z-index: 1;
				font-size: 0.8rem;
				&:hover {
					box-shadow: inset 0px -3px 8px -3px rgba(0,0,0,0.4);
				}
				&.active {
					border: 1px solid $color-bg-braun;
					border-bottom: none;
					border-radius: 4px 4px 0px 0px;
					background: rgb(204, 175, 102);
					font-weight: bold;
					z-index: 3;
					&:hover {
						box-shadow: none;
					}
				}
				a {
					color: $color-bg-braun;
					&:hover {
						color: $color-bg-braun;
					}
				}
			}
			&:after {
				content: '';
				display: block;
				clear: both;
			}
		}
		.woocommerce-Tabs-panel {
			border: 1px solid $color-bg-braun;
			background: rgb(204, 175, 102);
			margin: 0px 0px 10px 0px;
			padding: 6px;
			position: relative;
			z-index: 2;
		}
	}
	.related {
		clear: both;
		margin-top: 20px;
		border-top: 5px solid #fff;
		border-bottom: 5px solid #000;
		color: #fff;
		box-shadow: 0px 18px 30px 0px rgba(0,0,0,0.40);
		background: $color-indes-blau;
		padding: 10px;
		margin-left: -20px;
		margin-right: -20px;
		a {
			color: #fff;
			&:hover {
				color: rgba(255, 255, 255, 0.6);	
			}
		}
		h2 {
			letter-spacing: 0.08em;
		}
		ul.products {
			li {
				font-size: 0.8rem;
				min-width: 200px;
				max-width: 200px;
				h3 {
					font-size: 0.8rem;
				}
				img {
					max-width: 100px;
					max-heigth: 100px;
				}
			}
		}
	}
}

.woohack-checkout-payment-method {
	border-top: 5px solid #fff;
	border-bottom: 5px solid #000;
	color: #fff;
	box-shadow: 0px 18px 30px 0px rgba(0,0,0,0.40);
	background: $color-indes-blau;
	padding: 10px 10px 0px 20px;
	margin-left: -20px;
	margin-right: -20px;
	margin-bottom: 20px;
	.widget-title, a {
		color: #fff;
	}
	a:hover {
		color: rgba(255, 255, 255, 0.6);	
	}
	h2 {
		display: none;
	}
	h3 {
		font-size: 0.938rem;
		font-family: $font-text;
		font-weight: bold;
	}
}

.woocommerce {
	address {
		&:first-line {
			// Firma/Standort ausblenden
			font-size: 0px;
		}
	}
}

.woocommerce-pagination {
	li {
		float: left;
	}
}