//	Importieren der Konfigurationsvariablen
@import "config";
//	Importieren der Grundfunktionen
@import "library";

/*!
Theme Name: #{metadata(theme-name)}
Theme URI: #{metadata(theme-uri)}
Author: #{metadata(theme-author)}
Author URI: #{metadata(theme-author-uri)}
Template: #{metadata(theme-template)}
Description: #{metadata(theme-description)}
Version: #{metadata(theme-version)}
License: #{metadata(theme-license)}
License URI: #{metadata(theme-license-uri)}
Tags: #{metadata(theme-tags)}
Text Domain: #{metadata(theme-text-domain)}
Domain Path: #{metadata(theme-text-domain-path)}
GitLab Theme URI: #{metadata(gitlab-theme-uri)}
GitLab Branch: #{metadata(gitlab-branch)}
*/


// Grundelemente für alle Ansichten	
html {
	scroll-behavior: smooth;
}
html, body {
	width: 100%;
	height: 100%;
	margin: 0px;
	background: $color-bg-pergament;
	font-family: $font-text;
	font-size: $font-size-global; 
}
th, td {
	border: none;
	font-size: 1em;
}
h1, h2, h3, h4, h5, h6 {
	font-family: $font-title;
}
a:hover {
	color: #0c216b;
}
ul, ol {
    margin-bottom: 0px;
}
img.withborder {
	padding: 4px;
	background: #fff;
	border: 1px solid #7b5315;
}

// Breite in der mobilen Ansicht korrigieren
.HolyGrail-content #content {
	width: calc(100% - 10px) !important;
}


// Struktur via flexbox, für Auflösungen bis 1024px	
.HolyGrail {
	display: flex;
	height: 100%; // 1, 3
	flex-direction: column;
}
.HolyGrail-header,
.HolyGrail-footer {
  flex: none; // 2
}
.HolyGrail-body {
	display: flex;
	flex: 1 0 auto; // 2
	flex-direction: column;
	padding: var(--space);
}
.HolyGrail-content {
	margin-top: var(--space);
}
.HolyGrail-nav {
	order: -1;
}
.HolyGrail-nav,
.HolyGrail-ads {
	background: rgba(147, 128, 108, 0.1);
	width: auto;
}
.logoFix {
	display: none;
}
.headerL {
	display: none;
}

#content { 
	display: inline-block;
	padding: 0px;
	background: $color-bg-pergament;
	height: 100%;
}
.title { 
	font-size: 11pt; 
	font-family: Cambria, Georgia, serif; 
	font-weight: bold; 
}
#nav-main {
	background: #0f2882 url("images/headerMobile.png") center no-repeat;
	position: relative;
	z-index: 1000;
	height: 44px;
	max-width: 100%;
	width: 100%;
	box-shadow: 0px 5px 17px 0px rgba(0,0,0,0.56);
}
#nav-main .sub-menu, #nav-main .children {
	background: #0f2882;
	position: absolute;
	float: left;
	min-width: 180px;
	border: 1px solid #000;
	box-shadow: 0 1px 4px #000;
	z-index: 990;
	display: none;
}

// Footer Frontier
#bottom-bar {
	color: #FFF;
	max-width: 100%;
	min-height: 34px;
	float: left;
	vertical-align: middle;
	background: #000;
	font-size: 0.8rem;
}
#bottom-bar a {
	color: #DC8300;
}
#bottom-bar-text {
	float: left;
	padding: 6px 8px;
}

//	Blog Links und Kommentare
.continue-reading {
	background: #dbbe6e none;
    display: inline-block;
    float: right;
    padding: 2px 10px;
    color: #000;
    border: 2px solid #7b5315;
    border-radius: 0px;
	box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.5);
	font-size: 0.8rem;
}
.continue-reading:hover {
	background: #7b5315;
	border-color: #7b5315;
	color: #FFF;
}
.link-prev a, .link-next a {
    background: #dbbe6e;
    display: inline-block;
    padding: 2px 8px;
    border: 2px solid #7b5315;
    box-shadow: 0 0 2px #000;
    color: #000;
    @include font-style;
}
.link-prev a:hover, .link-next a:hover {
    background: #7b5315;
	border-color: #7b5315;
	color: #FFF;
}
#comment-header, #respond, #no-comments, .comment-body {
    background: #dbbe6e;
    margin: 0 0 10px;
    padding: 8px;
    border: 1px solid #7b5315;
    box-shadow: 0 0 2px #000;
}
.comment-form-author input, .comment-form-email input, .comment-form-url input, .comment-form-comment textarea {
    display: block;
    padding: 3px;
    border: 1px solid #7b5315;
    box-shadow: 0 0 3px #888 inset;
	background: $color-bg-pergament;
}
.comment-author-admin > .comment-body, .bypostauthor > .comment-body {
    border-top: 6px solid #7b5315;
}
.comment-reply-link {
    background: #7b5315;
    color: #FFF;
    display: inline-block;
    float: right;
    padding: 2px 10px;
}

//	Post Elements
.blog-view .entry-content {
	padding-top: 4px;
	padding-bottom: 4px;
	@include font-style;
}
.single-view .entry-content, .single-event .entry-content {
	@include font-style;
}
.entry-excerpt {
	text-align: justify;
}
.page-nav, .comment-nav {
	display: block;
	padding: 2px 0;
	font-family: Cambria, Georgia, serif;
	font-size: 13px;
	line-height: 20px;
}

// PageBuilder Widget Titles
.FederspielFrontpage .widget-title {
	display: none;
}
.FederspielFrontpage span.post-date:before {
	content: "- ";
	color: rgba(255, 255, 255, 0.6);
}
.FederspielFrontpage span.post-date {
	color: rgba(255, 255, 255, 0.6);
}
.widget-title {
	font-family: $font-title;
	background: rgba(0,0,0,0);
	color: #000;
	text-shadow: none;
	font-size: 1.4em;
	letter-spacing: 0.08em;
}


//	Titel in loop-single.php ausblenden
.hide-title {
	display: none;
}

.entry-thumbnail .post-thumbnail {
    display: table;
    background: #EEE;
    border: 1px solid #7b5315;
    padding: 3px;					
}	
.entry-byline .post-edit-link, .entry-byline .genericon-edit {
	display: none;
}
.entry-byline {
	font-size: 0.8rem;
}

.blog-view, .single-view, .author-info, .archive-info, .form-404 {
	margin: 0 0 10px;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
	background: transparent;
	border: none;
	box-shadow: none;
}


.blogheader {
	box-shadow: 0px 18px 30px 0px rgba(0,0,0,0.40);
	margin-bottom: 10px;
	width: 960px;
	max-width: 100%;
	border-bottom: 5px solid white;
}


//	Footer in der mobilen Ansicht zentrieren und mehrzeilig
@media (max-width: 400px) {
	#bottom-bar {
		text-align: center !important;
	}
	#bottom-bar-text {
		float: none;
	}
	#bottom-bar .smbt-social-icons {
		text-align: center !important;
	}
}


//	Ansichten ab Auflösung von 1025px+
@media (min-width: 1025px) {
	html, body {
		background: rgba(58,58,58,1);
		font-family: $font-text;
	}
	#home {
		background: $color-bg-pergament;
		display: inline-block;
		height: 100%;
		width: 100%;
	}

	.HolyGrail-body {
		flex-direction: row;
	}
	.HolyGrail-content {
		flex: 1;
		max-width: 960px;
		padding: 0 var(--space-lg);
		margin: 0;
		position: relative;
		z-index: 2;
		#content {
			//	Breite für Desktopansicht aufs Maximum
			width: 100% !important;
		}
	}
	//	IE11 Bug: calc funktioniert in flex shorthand nicht, mit getrennt definierter flex-basis klappts
	.HolyGrail-nav, .HolyGrail-ads {
		flex: 0 0; 
		flex-basis: calc(50% - 480px);
	}
	.HolyGrail-nav {
		background: url("images/betonL.jpg") top right repeat-y;
		box-shadow: 20px 0px 33px -15px rgba(0,0,0,0.64);
		position: relative;
		z-index: 900;
	}
	.HolyGrail-ads {
		background: url("images/betonR.jpg") top left repeat-y;
	}
	.kaempfer {
		/*
		background: url("images/kaempfer2.png") top left no-repeat;
		max-width: 760px;
		height: 413px;
		*/
		background: url("images/kaempfer2.jpg") top left no-repeat;
		max-width: 760px;
		height: 366px;
		box-shadow: 0px 18px 30px 0px rgba(0,0,0,0.60);
		position: relative;
		z-index: 1;
	}
	#logoBar {
		height: 100%;
	}
	.logoBack_t {
		background: url("images/backL_t.jpg") top right no-repeat;
		// height: 525px;
		height: 366px;
		width: 100%;
		box-shadow: 0px 18px 30px 0px rgba(0,0,0,0.60);
		position: relative;
		z-index: 901;
	}
	.logoBack_b {
		background: url("images/backL_b.jpg") top right no-repeat;
		height: 159px;
		width: 100%;
		position: relative;
		z-index: 902;
		bottom: 0;
	}
	.logoSchriftzug {
		background: url("images/logo_schriftzug.png") top right no-repeat;
		height: 160px;
		width: 100%;
	}
	.logoBlau {
		background: url("images/blauL.jpg") top right repeat-y;
		height: calc(100% - 486px);
		width: 100%;
		z-index: 100;
		position: relative;
	}
	.HolyGrail-footer {
		height: 39px;
		background: #000;
		border-top: 5px solid #FFF;
	}
	.footerL {
		width: calc(50% - 480px);
		float: left;
		height: 34px;
	}
	.logoFix {
		display: block;
		background: url("images/logoFixKlein.png") top center no-repeat;
		width: calc(50% - 480px);
		height: 675px;
		text-align: right;
		position: fixed;
		z-index: 990;
	}
	.logoStreifenUnten {
		background: url("images/StreifenUnten.png") bottom right no-repeat;
		margin-bottom: 0px;
		text-align: right;
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 158px;
		z-index: 900;
	}
	.headerL {
		display: block;
		width: calc(50% - 480px);
		height: 44px;
		float: left;
		box-shadow: 20px 0px 33px -15px rgba(0,0,0,0.64);
		position: relative;
		z-index: 1090;
	}
	.headerNav {
		float: left;
		height: 44px;
		width: 960px;
	}
	.headerR {
		float: left;
		height: 44px;
		width: calc(50% - 480px);
	}
	#ockerL {
		height: 24px;
		background: #7b5315 url("images/ockerL.jpg") top right no-repeat;
	}
	#braunL {
		height: 6px;
		background: #472503 url("images/braunL.jpg") top right no-repeat;
	}
	#schwarzL {
		height: 14px;
		background: #000 url("images/schwarzL.jpg") top right no-repeat;
	}
	#ockerR {
		background: #7b5315 url("images/ockerR.jpg") top left no-repeat;
		height: 24px;
	}
	#braunR {
		background: #472503 url("images/braunR.jpg") top left no-repeat;
		height: 6px;
	}
	#schwarzR {
		background: #000 url("images/schwarzR.jpg") top left no-repeat;
		height: 14px;
	}
}

//	Für Auflösungen ab 1440px, volle Ansicht des Logos
@media (min-width: 1439px) {
	.logoFix {
		background: url("images/logoFix.png") top right no-repeat;
		width: calc(50% - 480px);
		height: 525px;
		text-align: right;
		position: fixed;
		z-index: 990;
	}
}

@media screen and (max-width: 600px) {
	#wpadminbar {
		position: fixed;
	}
}

// Textelemente
@import "general";
// Hauptnavigation
@import "navigation";
// PageBuilder Klassen und IDs
@import "pagebuilder";
// CSS für headroom.js
@import "headroom";
// CSS für WooCommerce
@import "woocommerce";
// responsive.css von frontier überschreiben
@import "responsive";


@import "forms";
@import "progressbar";

@import "blog";